h1{
	text-align: center;
	font-size: 72px;
}
p{
	/* tamaño de la fuente 
	em 1em = 16 px 
	= 34 px / 16 px = 2.125 em */
	font-size: 2.125em;
    /* estilo de fuente */
	font-family: georgia,serif;
/* peso de la fuente: normal,bold
bolder,lighter,100 a 900,
inherit */
	font-weight: 900;
	/* estilo de la fuente normal,
	italic,oblique */
	font-style: oblique;
	/*variante de la fuente*/
	font-variant: small-caps;
	/*iterlineado de texto*/
	line-height: 200%;
	
}
.par1{
	border: red thin solid;
}
.par2{
	border: green medium solid;
}
.par3{
	border: black thick solid;
}
.par4{
	border: yellow 20px double;
}
.par5{
	border: red 20px dotted;
}
.par6{
	border: red 20px dashed;
}
.par7{
	border: red 20px groove;
}
.par8{
	border: black 20px ridge;
}
.par9{
	border: black 20px inset;
}
.par10{
	border: black 20px outset;
}
em{
	font-weight: bolder
}

